  /*-----------Prop Menu-------------*/
  header{ 
    .navbar{
        background-color: $navbar-color !important;
      }
    li,a{
        background-color:$navbar-color-boton;  
        border-radius: 0.4rem;
        transition: ease 0.5s;
    &:hover,&:focus{
        background-color:$navbar-color-boton-a;
        color: black !important;
    }
  }
  
}
 
 