$body-color:rgb(243, 230, 192);
$navbar-color:rgb(110, 50, 1);
$navbar-color-boton:rgb(167, 132, 19);
$navbar-color-boton-a: rgb(155, 101, 2);

//Dependiendo de si se encuentran los ultimos productos, se modifica esta variable.
$ult-prodc:1;